# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts (keep android/ and ios/ folders, but ignore large build outputs)
android/app/build/
ios/build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Other keys/certs
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# --- Additions to ignore Windows user-specific directories ---
AppData/
OneDrive/
